body {
  background-color: #ffe6c7;
  color: #454545;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  border-radius: 5px;
  background-color: #ff6000;
  height: 140px;
  width: 140px;

  /* border-style: none; */
}

button:hover {
  background-color: #ffa559;
}

img {
  height: 80px;
  width: 100px;
  /* padding: 5px; */
}

.winner-section {
  display: flex;
  flex-direction: column;
  /* gap: 15px; */
  justify-content: center;
  align-items: center;
}

.restart {
  height: 50px;
  width: 120px;
  font-size: 17px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.game-name {
  text-align: center;
  color: #454545;
  font-size: 40px;
  margin: 20px 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.score-card {
  display: flex;
  gap: 10px;
}

.header {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-left: 300px;
  margin-right: 300px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: #454545;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 70px;
  flex: 1;
}

.player-side,
.computer-side {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  background-color: #ffa559;
  height: 160px;
  width: 280px;
  border-radius: 9px;
  padding: 20px;
}

.winner-name {
  text-align: center;
  color: #5d9c59;
  font-size: 30px;
}

.hidden {
  display: none;
}

.symbols {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
